In [1]:
import pandas as pd;
import numpy as np;

In [4]:
dict1 = {
    "Name": ["Devansh", "Ravi", "David", "Vasu"],
    "Marks": [98,65,76,84],
    "Class": [12,11,9,7]
}

In [7]:
df = pd.DataFrame(dict1)
df

      Name  Marks  Class
0  Devansh     98     12
1     Ravi     65     11
2    David     76      9
3     Vasu     84      7

In [8]:
df.to_csv("dict.csv")

In [9]:
df.to_csv("dict_no_index.csv", index = False)

In [10]:
df.head(2)

      Name  Marks  Class
0  Devansh     98     12
1     Ravi     65     11

In [11]:
df.tail(2)

    Name  Marks  Class
2  David     76      9
3   Vasu     84      7

In [12]:
df.describe()

           Marks      Class
count   4.000000   4.000000
mean   80.750000   9.750000
std    13.889444   2.217356
min    65.000000   7.000000
25%    73.250000   8.500000
50%    80.000000  10.000000
75%    87.500000  11.250000
max    98.000000  12.000000

In [13]:
df = pd.read_csv("Book1.csv")

In [14]:
df

  Train  Number  Seat
0   ABC     1004  HY3
1   DEF     2014  KO2
2   GHI     8723  NJ3
3   JKL     5437  BH2

In [17]:
df["Seat"][1]

'KO2'

In [22]:
df["Seat"][2] = "WN5"

<ipython-input-22-b5c160a08a30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Seat"][2] = "WN5"

In [23]:
df

  Train  Number  Seat
0   ABC     1004  HY3
1   DEF     2014  KO2
2   GHI     8723  WN5
3   JKL     5437  BH2

In [24]:
df.index = ["First", "Second", "Third", "Fourth"]

In [25]:
df

       Train  Number  Seat
First    ABC     1004  HY3
Second   DEF     2014  KO2
Third    GHI     8723  WN5
Fourth   JKL     5437  BH2

In [27]:
#Pandas is an open source data analysis library written in Python.
#It leverages the power and speed of numpy (written in C) to make data analysis and processing easy for data scientists.
#It provides rich and highly robust data operations.

In [28]:
#Pandas have two types of data structures:
#SERIES: One dimensional array (Stores single column data) (Holds single data type)
#DATAFRAMES: Two dimensional data (Stores the table) (Holds variety of data types)

In [32]:
series = pd.Series(np.random.rand(10))

In [35]:
series

0    0.373318
1    0.837086
2    0.667507
3    0.864311
4    0.505920
5    0.548313
6    0.892484
7    0.513916
8    0.011433
9    0.878099
dtype: float64

In [36]:
type(series)

pandas.core.series.Series

In [71]:
newdf = pd.DataFrame(np.random.rand(656,5))

In [72]:
newdf

            0         1         2         3         4
0    0.572389  0.094181  0.428379  0.407079  0.604743
1    0.777449  0.813203  0.363148  0.542015  0.043320
2    0.606300  0.386972  0.914306  0.907784  0.620629
3    0.533323  0.300016  0.216505  0.962230  0.866204
4    0.557107  0.096059  0.877642  0.830525  0.984698
..        ...       ...       ...       ...       ...
651  0.200125  0.839864  0.887887  0.552293  0.303394
652  0.628054  0.734664  0.484412  0.365472  0.055773
653  0.791533  0.598417  0.932812  0.477413  0.986886
654  0.570368  0.576088  0.169085  0.956737  0.556501
655  0.715831  0.250149  0.831169  0.561204  0.225498

[656 rows x 5 columns]

In [73]:
type(newdf)

pandas.core.frame.DataFrame

In [74]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [75]:
newdf[0][1] = "Dev"
newdf.head(5)

          0         1         2         3         4
0  0.572389  0.094181  0.428379  0.407079  0.604743
1       Dev  0.813203  0.363148  0.542015  0.043320
2    0.6063  0.386972  0.914306  0.907784  0.620629
3  0.533323  0.300016  0.216505  0.962230  0.866204
4  0.557107  0.096059  0.877642  0.830525  0.984698

In [76]:
newdf.index

RangeIndex(start=0, stop=656, step=1)

In [77]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [78]:
newdf.T #Transpose

,0,1,2,3,4,5,6,7,8,9,...,646,647,648,649,650,651,652,653,654,655
0,0.572389,Dev,0.6063,0.533323,0.557107,0.15249,0.320887,0.439311,0.637883,0.675777,...,0.40966,0.37614,0.962113,0.547565,0.924561,0.200125,0.628054,0.791533,0.570368,0.715831
1,0.094181,0.813203,0.386972,0.300016,0.096059,0.859041,0.353062,0.726839,0.27056,0.731227,...,0.433657,0.974796,0.675502,0.197809,0.959615,0.839864,0.734664,0.598417,0.576088,0.250149
2,0.428379,0.363148,0.914306,0.216505,0.877642,0.470481,0.599178,0.868879,0.967742,0.333457,...,0.193535,0.873042,0.719171,0.441947,0.65997,0.887887,0.484412,0.932812,0.169085,0.831169
3,0.407079,0.542015,0.907784,0.96223,0.830525,0.61623,0.478493,0.299552,0.698619,0.38419,...,0.137874,0.656879,0.082518,0.634247,0.628053,0.552293,0.365472,0.477413,0.956737,0.561204
4,0.604743,0.04332,0.620629,0.866204,0.984698,0.210537,0.431957,0.344958,0.727552,0.994044,...,0.309101,0.140386,0.974849,0.141836,0.444692,0.303394,0.055773,0.986886,0.556501,0.225498

In [79]:
newdf.to_numpy()

array([[0.5723890052269834, 0.09418136073661243, 0.42837940902354954,
        0.4070794584799463, 0.604743054795642],
       ['Dev', 0.8132025292079357, 0.3631481137431626,
        0.5420149812185187, 0.04332001444750988],
       [0.6062996637034196, 0.38697201281164284, 0.9143064269155262,
        0.9077840395669026, 0.6206291665928263],
       ...,
       [0.7915330536526203, 0.5984170073396862, 0.9328122520878024,
        0.4774132252865567, 0.9868861831344372],
       [0.570368224688835, 0.5760882974231747, 0.16908473366150234,
        0.956737196758488, 0.5565006661266177],
       [0.7158312687455806, 0.25014860084214874, 0.8311685092902263,
        0.5612041946712083, 0.22549803277434743]], dtype=object)

In [80]:
newdf.sort_index(axis = 0, ascending = False)

            0         1         2         3         4
655  0.715831  0.250149  0.831169  0.561204  0.225498
654  0.570368  0.576088  0.169085  0.956737  0.556501
653  0.791533  0.598417  0.932812  0.477413  0.986886
652  0.628054  0.734664  0.484412  0.365472  0.055773
651  0.200125  0.839864  0.887887  0.552293  0.303394
..        ...       ...       ...       ...       ...
4    0.557107  0.096059  0.877642  0.830525  0.984698
3    0.533323  0.300016  0.216505  0.962230  0.866204
2      0.6063  0.386972  0.914306  0.907784  0.620629
1         Dev  0.813203  0.363148  0.542015  0.043320
0    0.572389  0.094181  0.428379  0.407079  0.604743

[656 rows x 5 columns]

In [81]:
newdf.sort_index(axis = 1, ascending = False)

            4         3         2         1         0
0    0.604743  0.407079  0.428379  0.094181  0.572389
1    0.043320  0.542015  0.363148  0.813203       Dev
2    0.620629  0.907784  0.914306  0.386972    0.6063
3    0.866204  0.962230  0.216505  0.300016  0.533323
4    0.984698  0.830525  0.877642  0.096059  0.557107
..        ...       ...       ...       ...       ...
651  0.303394  0.552293  0.887887  0.839864  0.200125
652  0.055773  0.365472  0.484412  0.734664  0.628054
653  0.986886  0.477413  0.932812  0.598417  0.791533
654  0.556501  0.956737  0.169085  0.576088  0.570368
655  0.225498  0.561204  0.831169  0.250149  0.715831

[656 rows x 5 columns]

In [82]:
newdf.loc[0,0] = "XYZ"

In [83]:
newdf.head()

          0         1         2         3         4
0       XYZ  0.094181  0.428379  0.407079  0.604743
1       Dev  0.813203  0.363148  0.542015  0.043320
2    0.6063  0.386972  0.914306  0.907784  0.620629
3  0.533323  0.300016  0.216505  0.962230  0.866204
4  0.557107  0.096059  0.877642  0.830525  0.984698

In [84]:
newdf.columns = list("ABCDE")

In [85]:
newdf.head()

          A         B         C         D         E
0       XYZ  0.094181  0.428379  0.407079  0.604743
1       Dev  0.813203  0.363148  0.542015  0.043320
2    0.6063  0.386972  0.914306  0.907784  0.620629
3  0.533323  0.300016  0.216505  0.962230  0.866204
4  0.557107  0.096059  0.877642  0.830525  0.984698

In [87]:
newdf.loc[0][0]

'XYZ'

In [97]:
newdf.loc[0]["A"] = 53

<ipython-input-97-45adf675a653>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf.loc[0]["A"] = 53

In [101]:
newdf.head()

          A         B         C         D         E
0       XYZ  0.094181  0.428379  0.407079  0.604743
1       Dev  0.813203  0.363148  0.542015  0.043320
2    0.6063  0.386972  0.914306  0.907784  0.620629
3  0.533323  0.300016  0.216505  0.962230  0.866204
4  0.557107  0.096059  0.877642  0.830525  0.984698

In [102]:
newdf.drop("E", axis = 1)

            A         B         C         D
0         XYZ  0.094181  0.428379  0.407079
1         Dev  0.813203  0.363148  0.542015
2      0.6063  0.386972  0.914306  0.907784
3    0.533323  0.300016  0.216505  0.962230
4    0.557107  0.096059  0.877642  0.830525
..        ...       ...       ...       ...
651  0.200125  0.839864  0.887887  0.552293
652  0.628054  0.734664  0.484412  0.365472
653  0.791533  0.598417  0.932812  0.477413
654  0.570368  0.576088  0.169085  0.956737
655  0.715831  0.250149  0.831169  0.561204

[656 rows x 4 columns]

In [104]:
newdf.loc[[1,2], ["C","D"]]

          C         D
1  0.363148  0.542015
2  0.914306  0.907784

In [105]:
newdf.loc[:, ["B", "C"]]

            B         C
0    0.094181  0.428379
1    0.813203  0.363148
2    0.386972  0.914306
3    0.300016  0.216505
4    0.096059  0.877642
..        ...       ...
651  0.839864  0.887887
652  0.734664  0.484412
653  0.598417  0.932812
654  0.576088  0.169085
655  0.250149  0.831169

[656 rows x 2 columns]

In [110]:
newdf.loc[(newdf["B"]>0.4) & (newdf["C"] <0.05)]

            A         B         C         D         E
57   0.246638  0.886048  0.018947  0.305184  0.620731
210  0.631648  0.808872  0.006885  0.577642  0.391953
250  0.657474  0.878373  0.040947  0.930049  0.003302
273  0.997622  0.999240  0.048908  0.735744  0.855058
275  0.536074  0.884752  0.021390  0.890835  0.706028
285   0.01453  0.646251  0.041161  0.967147  0.805820
338   0.55929  0.505142  0.007502  0.215483  0.511643
373  0.693086  0.827781  0.027920  0.936133  0.930883
389  0.932753  0.724432  0.005368  0.540614  0.566715
412  0.571606  0.912436  0.037952  0.723494  0.821366
482  0.755324  0.847693  0.032285  0.159648  0.019319
502  0.388195  0.975452  0.031934  0.876148  0.805276
539  0.784767  0.935589  0.022630  0.725859  0.374835
567  0.401448  0.704022  0.006224  0.421088  0.594454
577    0.2602  0.682168  0.026941  0.889672  0.082294
592  0.355262  0.742470  0.042480  0.361811  0.728469
611  0.651891  0.804641  0.029864  0.678533  0.871171
614  0.811437  0.838936  0.009941  0.801622  0.935061

In [111]:
newdf.iloc[0,4]

0.604743054795642

In [118]:
newdf.iloc[[0,1], 1:4]

          B         C         D
0  0.094181  0.428379  0.407079
1  0.813203  0.363148  0.542015

In [125]:
newdf.drop([2,4])
newdf.drop(["A", "C"], axis = 1)

            B         D         E
0    0.094181  0.407079  0.604743
1    0.813203  0.542015  0.043320
2    0.386972  0.907784  0.620629
3    0.300016  0.962230  0.866204
4    0.096059  0.830525  0.984698
..        ...       ...       ...
651  0.839864  0.552293  0.303394
652  0.734664  0.365472  0.055773
653  0.598417  0.477413  0.986886
654  0.576088  0.956737  0.556501
655  0.250149  0.561204  0.225498

[656 rows x 3 columns]

In [127]:
newdf.loc[:,["A"]] = 69

<ipython-input-127-ba5013f6570c>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  newdf.loc[:,["A"]] = 69

In [129]:
newdf.head()

    A         B         C         D         E
0  69  0.094181  0.428379  0.407079  0.604743
1  69  0.813203  0.363148  0.542015  0.043320
2  69  0.386972  0.914306  0.907784  0.620629
3  69  0.300016  0.216505  0.962230  0.866204
4  69  0.096059  0.877642  0.830525  0.984698

In [130]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [131]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [134]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [135]:
df.isnull()

        Train  Number    Seat
First   False    False  False
Second  False    False  False
Third   False    False  False
Fourth  False    False  False

In [136]:
df.sum()

Train      ABCDEFGHIJKL
Number            17178
Seat       HY3KO2WN5BH2
dtype: object

In [140]:
df.mean()

<ipython-input-140-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Number     4294.5
dtype: float64

In [141]:
df.corr()

<ipython-input-141-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

         Number
Number       1.0

In [142]:
df.max()

Train       JKL
Number     8723
Seat        WN5
dtype: object

In [143]:
df.min()

Train       ABC
Number     1004
Seat        BH2
dtype: object

In [144]:
df.std()

<ipython-input-144-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

Number     3509.272907
dtype: float64

_________________________
Group By

In [2]:
import pandas as pd
df = pd.read_csv("Sampledata.csv")

In [4]:
df.head()

,Product type,Price,Number of products sold,Revenue generated,Order quantities,Shipping carriers,Shipping costs,Supplier name,Location,Manufacturing costs,Transportation modes
0,Haircare1,69.808006,802,8661.996792,96,Carrier B,2.956572,Supplier 3,Mumbai,46.279879,Road
1,Skincare1,14.843523,736,7460.900065,37,Carrier A,9.716575,Supplier 3,Mumbai,33.616769,Road
2,Haircare2,11.319683,8,9577.749626,88,Carrier B,8.054479,Supplier 1,Mumbai,30.688019,Air
3,Skincare2,61.163343,83,7766.836426,59,Carrier C,1.729569,Supplier 5,Kolkata,35.624741,Rail
4,Skincare3,4.805496,871,2686.505152,56,Carrier A,3.890548,Supplier 1,Delhi,92.065161,Air

In [13]:
var1 = df.groupby("Location")
var1.head()

,Product type,Price,Number of products sold,Revenue generated,Order quantities,Shipping carriers,Shipping costs,Supplier name,Location,Manufacturing costs,Transportation modes
0,Haircare1,69.808006,802,8661.996792,96,Carrier B,2.956572,Supplier 3,Mumbai,46.279879,Road
1,Skincare1,14.843523,736,7460.900065,37,Carrier A,9.716575,Supplier 3,Mumbai,33.616769,Road
2,Haircare2,11.319683,8,9577.749626,88,Carrier B,8.054479,Supplier 1,Mumbai,30.688019,Air
3,Skincare2,61.163343,83,7766.836426,59,Carrier C,1.729569,Supplier 5,Kolkata,35.624741,Rail
4,Skincare3,4.805496,871,2686.505152,56,Carrier A,3.890548,Supplier 1,Delhi,92.065161,Air
5,Haircare3,1.699976,147,2828.348746,66,Carrier B,4.444099,Supplier 4,Bangalore,56.766476,Road
6,Skincare4,4.078333,65,7823.476560,58,Carrier C,3.880763,Supplier 3,Kolkata,1.085069,Sea
7,Cosmetics1,42.958384,426,8496.103813,11,Carrier B,2.348339,Supplier 4,Bangalore,99.466109,Road
8,Cosmetics2,68.717597,150,7517.363211,15,Carrier C,3.404734,Supplier 4,Mumbai,11.423027,Sea
9,Skincare4,64.015733,980,4971.145988,83,Carrier A,7.166645,Supplier 2,Chennai,47.957602,Rail
10,Skincare5,15.707796,996,2330.965802,80,Carrier C,8.673211,Supplier 5,Kolkata,96.527353,Road
11,Skincare6,90.635460,960,6099.944116,60,Carrier A,4.523943,Supplier 2,Kolkata,27.592363,Air
12,Haircare4,71.213389,336,2873.741446,85,Carrier A,1.325274,Supplier 4,Kolkata,32.321286,Road
13,Skincare7,16.160393,249,4052.738416,48,Carrier A,9.537283,Supplier 5,Bangalore,97.829050,Road
15,skincare,36.989245,469,5442.086785,69,Carrier B,2.422040,Supplier 1,Bangalore,97.121282,Sea
16,skincare,7.547172,280,6453.797968,78,Carrier B,4.191325,Supplier 1,Bangalore,77.106342,Air
17,cosmetics,81.462534,126,2629.396435,85,Carrier C,3.585419,Supplier 1,Chennai,47.679680,Air
19,skincare,51.123870,187,2553.495585,94,Carrier A,4.742636,Supplier 4,Chennai,82.373321,Road
20,skincare,96.341072,320,8128.027697,68,Carrier A,8.878335,Supplier 1,Chennai,65.686260,Air
21,cosmetics,84.893869,601,7087.052696,7,Carrier B,6.037884,Supplier 5,Chennai,61.735729,Air
27,cosmetics,92.557361,352,2686.457224,62,Carrier C,7.406751,Supplier 5,Mumbai,10.528245,Sea
35,cosmetics,84.957787,449,6541.329345,85,Carrier C,5.288190,Supplier 1,Delhi,58.004787,Sea
36,skincare,9.813003,963,7573.402458,28,Carrier B,2.107951,Supplier 2,Delhi,45.531364,Air
44,cosmetics,51.355791,919,7152.286049,72,Carrier C,7.577450,Supplier 2,Delhi,22.554107,Rail
49,cosmetics,78.897913,99,8001.613207,9,Carrier C,2.505621,Supplier 5,Delhi,14.147815,Rail

In [15]:
var1.get_group("Mumbai")

,Product type,Price,Number of products sold,Revenue generated,Order quantities,Shipping carriers,Shipping costs,Supplier name,Location,Manufacturing costs,Transportation modes
0,Haircare1,69.808006,802,8661.996792,96,Carrier B,2.956572,Supplier 3,Mumbai,46.279879,Road
1,Skincare1,14.843523,736,7460.900065,37,Carrier A,9.716575,Supplier 3,Mumbai,33.616769,Road
2,Haircare2,11.319683,8,9577.749626,88,Carrier B,8.054479,Supplier 1,Mumbai,30.688019,Air
8,Cosmetics2,68.717597,150,7517.363211,15,Carrier C,3.404734,Supplier 4,Mumbai,11.423027,Sea
27,cosmetics,92.557361,352,2686.457224,62,Carrier C,7.406751,Supplier 5,Mumbai,10.528245,Sea
28,cosmetics,2.397275,394,6117.324615,24,Carrier B,9.898141,Supplier 1,Mumbai,59.429382,Air
38,cosmetics,52.075931,705,9692.318040,88,Carrier B,9.235931,Supplier 5,Mumbai,5.930694,Air
43,haircare,11.743272,598,5737.425599,85,Carrier B,3.694021,Supplier 5,Mumbai,26.277366,Air
48,haircare,76.035544,29,7397.071005,9,Carrier C,7.095833,Supplier 2,Mumbai,23.126364,Rail
52,skincare,98.031830,820,9435.762609,11,Carrier B,8.631052,Supplier 1,Mumbai,9.166849,Air
56,skincare,20.986386,93,4767.020484,83,Carrier C,1.774430,Supplier 1,Mumbai,12.836285,Air
60,skincare,17.028028,380,8864.084350,72,Carrier C,4.381368,Supplier 4,Mumbai,87.213058,Rail
62,cosmetics,72.796354,270,3899.746834,40,Carrier C,7.291701,Supplier 2,Mumbai,21.048643,Sea
67,skincare,87.755432,513,9473.798033,71,Carrier C,9.147812,Supplier 1,Mumbai,7.057876,Sea
78,haircare,6.306883,946,1292.458418,51,Carrier B,8.467050,Supplier 5,Mumbai,71.126515,Sea
82,skincare,17.034931,336,2943.381868,72,Carrier A,4.708182,Supplier 2,Mumbai,4.465278,Road
86,skincare,19.998177,223,1229.591029,22,Carrier B,1.454305,Supplier 1,Mumbai,74.608970,Rail
88,Cosmetics1,75.270407,737,9444.742033,85,Carrier A,3.801253,Supplier 2,Mumbai,68.184919,Sea
92,Cosmetics4,47.714233,276,2100.129755,10,Carrier B,4.469500,Supplier 2,Mumbai,62.612690,Rail
95,Haircare5,77.903927,672,7386.363944,26,Carrier B,8.630339,Supplier 4,Mumbai,58.890686,Air
96,cosmetics6,24.423131,324,7698.424766,32,Carrier C,5.352878,Supplier 3,Mumbai,17.803756,Road
97,haircare1,3.526111,62,4370.916580,4,Carrier A,7.904846,Supplier 4,Mumbai,65.765156,Road

In [9]:
var1.groups

{'Cosmetics1': [7, 88], 'Cosmetics2': [8, 89], 'Cosmetics3': [91], 'Cosmetics4': [92], 'Haircare1': [0], 'Haircare2': [2], 'Haircare3': [5], 'Haircare4': [12], 'Haircare5': [95], 'Skincare1': [1, 90], 'Skincare2': [3, 98], 'Skincare3': [4], 'Skincare4': [6, 9], 'Skincare5': [10], 'Skincare6': [11], 'Skincare7': [13], 'cosmetics': [17, 21, 23, 27, 28, 29, 33, 35, 38, 44, 49, 50, 59, 62, 71, 72, 73, 85], 'cosmetics4': [94], 'cosmetics6': [96], 'haircare': [18, 22, 24, 25, 26, 30, 43, 45, 46, 48, 51, 54, 55, 57, 61, 68, 70, 74, 76, 77, 78, 79, 81, 83, 84, 87], 'haircare1': [97], 'haircare3': [93, 99], 'skincare': [14, 15, 16, 19, 20, 31, 32, 34, 36, 37, 39, 40, 41, 42, 47, 52, 53, 56, 58, 60, 63, 64, 65, 66, 67, 69, 75, 80, 82, 86]}

In [16]:
for x,y in var1:
    print(x)
    print(y)
    print()

Bangalore
   Product type      Price  Number of products sold  Revenue generated  \
5     Haircare3   1.699976                      147        2828.348746
7    Cosmetics1  42.958384                      426        8496.103813
13    Skincare7  16.160393                      249        4052.738416
15     skincare  36.989245                      469        5442.086785
16     skincare   7.547172                      280        6453.797968
24     haircare   4.156308                      209        9049.077861
26     haircare  97.446947                      353        3716.493326
42     skincare  46.529168                      155        1839.609426
51     haircare  26.700761                      154        9866.465458
63     skincare  13.017377                      246        4256.949141
68     haircare  37.931812                      163        3550.218433
70     haircare  47.914542                       32        7014.887987
71    cosmetics   6.381533                      637        8180.337085
72    cosmetics  90.204428                      478        2633.121981
76     haircare  69.108800                      241        5328.375984
79     haircare  57.057031                      198        7888.723268
83     haircare  68.911246                      663        2411.754632
90    Skincare1  13.881913                      320        9592.633570

    Order quantities Shipping carriers  Shipping costs Supplier name  \
5                 66         Carrier B        4.444099    Supplier 4
7                 11         Carrier B        2.348339    Supplier 4
13                48         Carrier A        9.537283    Supplier 5
15                69         Carrier B        2.422040    Supplier 1
16                78         Carrier B        4.191325    Supplier 1
24                 2         Carrier C        9.741292    Supplier 2
26                48         Carrier B        6.507549    Supplier 2
42                57         Carrier C        7.526248    Supplier 5
51                52         Carrier A        4.783001    Supplier 5
63                10         Carrier A        2.457934    Supplier 3
68                58         Carrier B        1.194252    Supplier 2
70                22         Carrier B        6.315718    Supplier 1
71                26         Carrier A        9.228190    Supplier 2
72                77         Carrier A        6.599614    Supplier 1
76                22         Carrier A        7.054538    Supplier 2
79                20         Carrier B        6.496325    Supplier 3
83                 7         Carrier B        4.949840    Supplier 1
90                96         Carrier B        7.674431    Supplier 3

     Location  Manufacturing costs Transportation modes
5   Bangalore            56.766476                 Road
7   Bangalore            99.466109                 Road
13  Bangalore            97.829050                 Road
15  Bangalore            97.121282                  Sea
16  Bangalore            77.106342                  Air
24  Bangalore            40.382360                  Air
26  Bangalore            15.972230                 Rail
42  Bangalore            96.422821                 Road
51  Bangalore            14.190328                 Road
63  Bangalore            20.075004                  Sea
68  Bangalore            97.113582                 Rail
70  Bangalore            11.440782                 Road
71  Bangalore            30.661677                 Road
72  Bangalore            55.760493                 Rail
76  Bangalore            64.323598                 Rail
79  Bangalore            57.870903                  Air
83  Bangalore            97.730594                 Road
90  Bangalore            85.675963                 Rail

Chennai
   Product type      Price  Number of products sold  Revenue generated  \
9     Skincare4  64.015733                      980        4971.145988
17    cosmetics  81.462534                      126        2629.396435
19     skincare  51.123870                      187        2553.495585
20     skincare  96.341072                      320        8128.027697
21    cosmetics  84.893869                      601        7087.052696
31     skincare  50.847393                      168        9655.135103
33    cosmetics  64.795435                      616        5149.998350
34     skincare  37.467592                      602        9061.710896
41     skincare  99.113292                      556        5521.205259
45     haircare  33.784138                       24        5267.956808
46     haircare  27.082207                      859        2556.767361
73    cosmetics  83.851018                      375        7910.886916
75     skincare  92.996884                      106        1889.073590
80     skincare  91.128318                      872        8651.672683
84     haircare  89.104367                      618        2048.290100
85    cosmetics  76.962994                       25        8684.613059
87     haircare  80.414037                       79        5133.846701
93    haircare3  69.290831                      114        4531.402134
98    Skincare2  19.754605                      913        8525.952560
99    haircare3  68.517833                      627        9185.185829

    Order quantities Shipping carriers  Shipping costs Supplier name Location  \
9                 83         Carrier A        7.166645    Supplier 2  Chennai
17                85         Carrier C        3.585419    Supplier 1  Chennai
19                94         Carrier A        4.742636    Supplier 4  Chennai
20                68         Carrier A        8.878335    Supplier 1  Chennai
21                 7         Carrier B        6.037884    Supplier 5  Chennai
31                44         Carrier B        2.679661    Supplier 3  Chennai
33                95         Carrier C        4.858271    Supplier 5  Chennai
34                21         Carrier A        1.019488    Supplier 1  Chennai
41                38         Carrier B        5.773264    Supplier 4  Chennai
45                52         Carrier B        5.215155    Supplier 2  Chennai
46                 6         Carrier B        4.070956    Supplier 3  Chennai
73                66         Carrier B        1.512937    Supplier 4  Chennai
75                56         Carrier C        2.473898    Supplier 1  Chennai
80                41         Carrier C        2.833185    Supplier 3  Chennai
84                80         Carrier A        8.381616    Supplier 5  Chennai
85                66         Carrier C        8.249169    Supplier 5  Chennai
87                55         Carrier A        6.575804    Supplier 3  Chennai
93                66         Carrier C        7.006432    Supplier 4  Chennai
98                27         Carrier B        1.409801    Supplier 5  Chennai
99                59         Carrier B        1.311024    Supplier 2  Chennai

    Manufacturing costs Transportation modes
9             47.957602                 Rail
17            47.679680                  Air
19            82.373321                 Road
20            65.686260                  Air
21            61.735729                  Air
31            60.251146                 Rail
33            23.853428                  Sea
34            10.754273                 Road
41            95.332065                  Sea
45            66.312544                 Rail
46            77.322353                 Road
73            46.870239                 Road
75            48.064783                  Air
80            76.961228                  Sea
84            33.808637                  Air
85            69.929346                 Road
87            28.696997                  Sea
93            35.633652                  Air
98             5.604691                 Rail
99            38.072899                 Rail

Delhi
   Product type      Price  Number of products sold  Revenue generated  \
4     Skincare3   4.805496                      871        2686.505152
35    cosmetics  84.957787                      449        6541.329345
36     skincare   9.813003                      963        7573.402458
44    cosmetics  51.355791                      919        7152.286049
49    cosmetics  78.897913                       99        8001.613207
50    cosmetics  14.203484                      633        5910.885390
53     skincare  30.341471                      242        8232.334829
55     haircare  79.855058                      701        2925.675170
57     haircare  49.263205                      227        1605.866900
58     skincare  59.841561                      896        2021.149810
64     skincare  89.634096                      134        8458.730878
74     haircare   3.170011                      904        5709.945296
81     haircare  72.819207                      774        4384.413400
91   Cosmetics3  62.111965                      916        1935.206794
94   cosmetics4   3.037689                      987        7888.356547

    Order quantities Shipping carriers  Shipping costs Supplier name Location  \
4                 56         Carrier A        3.890548    Supplier 1    Delhi
35                85         Carrier C        5.288190    Supplier 1    Delhi
36                28         Carrier B        2.107951    Supplier 2    Delhi
44                72         Carrier C        7.577450    Supplier 2    Delhi
49                 9         Carrier C        2.505621    Supplier 5    Delhi
50                82         Carrier A        6.247861    Supplier 2    Delhi
53                54         Carrier B        1.013487    Supplier 1    Delhi
55                11         Carrier A        5.014365    Supplier 2    Delhi
57                51         Carrier B        9.160559    Supplier 2    Delhi
58                44         Carrier A        4.938439    Supplier 3    Delhi
64                75         Carrier C        4.585353    Supplier 1    Delhi
74                 1         Carrier A        5.237655    Supplier 4    Delhi
81                 8         Carrier B        4.066278    Supplier 3    Delhi
91                85         Carrier B        7.471514    Supplier 4    Delhi
94                72         Carrier B        6.942946    Supplier 2    Delhi

    Manufacturing costs Transportation modes
4             92.065161                  Air
35            58.004787                  Sea
36            45.531364                  Air
44            22.554107                 Rail
49            14.147815                 Rail
50            45.178758                 Rail
53            83.344059                  Air
55            30.323545                  Sea
57            67.779623                 Rail
58            65.047415                 Road
64             8.693042                  Air
74            80.580852                 Rail
81            19.789593                 Rail
91            39.772883                 Rail
94            60.387379                 Rail

Kolkata
   Product type      Price  Number of products sold  Revenue generated  \
3     Skincare2  61.163343                       83        7766.836426
6     Skincare4   4.078333                       65        7823.476560
10    Skincare5  15.707796                      996        2330.965802
11    Skincare6  90.635460                      960        6099.944116
12    Haircare4  71.213389                      336        2873.741446
14     skincare  99.171329                      562        8653.570926
18     haircare  36.443628                      620        9364.673505
22     haircare  27.679781                      884        2390.807867
23    cosmetics   4.324341                      391        8858.367571
25     haircare  39.629344                      142        2174.777054
29    cosmetics  63.447559                      253        8318.903195
30     haircare   8.022859                      327        2766.342367
32     skincare  79.209936                      781        9571.550487
37     skincare  23.399845                      963        2438.339930
39     skincare  19.127477                      176        1912.465663
40     skincare  80.541424                      933        5724.959350
47     skincare  95.712136                      910        7089.474250
54     haircare  31.146243                      622        6088.021480
59    cosmetics  63.828398                      484        1061.618523
61     haircare  52.028750                      117        6885.589351
65     skincare  33.697717                      457        8354.579686
66     skincare  26.034870                      704        8367.721618
69     skincare  54.865529                      511        1752.381087
77     haircare  57.449743                      359        2483.760178
89   Cosmetics2  97.760086                      134        5924.682567

    Order quantities Shipping carriers  Shipping costs Supplier name Location  \
3                 59         Carrier C        1.729569    Supplier 5  Kolkata
6                 58         Carrier C        3.880763    Supplier 3  Kolkata
10                80         Carrier C        8.673211    Supplier 5  Kolkata
11                60         Carrier A        4.523943    Supplier 2  Kolkata
12                85         Carrier A        1.325274    Supplier 4  Kolkata
14                78         Carrier B        2.039770    Supplier 1  Kolkata
18                46         Carrier C        4.339225    Supplier 2  Kolkata
22                63         Carrier A        9.567649    Supplier 4  Kolkata
23                29         Carrier A        2.924858    Supplier 5  Kolkata
25                52         Carrier C        2.231074    Supplier 4  Kolkata
29                67         Carrier B        8.100973    Supplier 1  Kolkata
30                35         Carrier B        8.954528    Supplier 4  Kolkata
32                64         Carrier C        6.599105    Supplier 3  Kolkata
37                21         Carrier A        1.532655    Supplier 3  Kolkata
39                34         Carrier A        5.562504    Supplier 2  Kolkata
40                39         Carrier C        7.229595    Supplier 1  Kolkata
47                51         Carrier B        8.978751    Supplier 1  Kolkata
54                61         Carrier B        4.305103    Supplier 1  Kolkata
59                26         Carrier B        7.293723    Supplier 1  Kolkata
61                36         Carrier C        9.030340    Supplier 4  Kolkata
65                54         Carrier C        6.580541    Supplier 5  Kolkata
66                19         Carrier A        2.216143    Supplier 5  Kolkata
69                27         Carrier B        9.705287    Supplier 4  Kolkata
77                57         Carrier B        6.780947    Supplier 1  Kolkata
89                27         Carrier B        9.929816    Supplier 1  Kolkata

    Manufacturing costs Transportation modes
3             35.624741                 Rail
6              1.085069                  Sea
10            96.527353                 Road
11            27.592363                  Air
12            32.321286                 Road
14             5.791437                  Air
18            27.107981                  Sea
22            50.120840                 Rail
23            98.609957                 Rail
25            78.280383                 Road
29            39.292876                 Road
30            51.634893                 Road
32            29.692467                 Road
37            34.343277                  Sea
39             9.005807                  Air
40            88.179407                 Road
47            19.712993                 Rail
54            30.186023                 Road
59             1.900762                  Air
61            78.702394                  Air
65             1.597223                 Rail
66            42.084437                 Road
69            77.627766                  Air
77            42.952445                 Road
89            46.603873                 Rail

Mumbai
   Product type      Price  Number of products sold  Revenue generated  \
0     Haircare1  69.808006                      802        8661.996792
1     Skincare1  14.843523                      736        7460.900065
2     Haircare2  11.319683                        8        9577.749626
8    Cosmetics2  68.717597                      150        7517.363211
27    cosmetics  92.557361                      352        2686.457224
28    cosmetics   2.397275                      394        6117.324615
38    cosmetics  52.075931                      705        9692.318040
43     haircare  11.743272                      598        5737.425599
48     haircare  76.035544                       29        7397.071005
52     skincare  98.031830                      820        9435.762609
56     skincare  20.986386                       93        4767.020484
60     skincare  17.028028                      380        8864.084350
62    cosmetics  72.796354                      270        3899.746834
67     skincare  87.755432                      513        9473.798033
78     haircare   6.306883                      946        1292.458418
82     skincare  17.034931                      336        2943.381868
86     skincare  19.998177                      223        1229.591029
88   Cosmetics1  75.270407                      737        9444.742033
92   Cosmetics4  47.714233                      276        2100.129755
95    Haircare5  77.903927                      672        7386.363944
96   cosmetics6  24.423131                      324        7698.424766
97    haircare1   3.526111                       62        4370.916580

    Order quantities Shipping carriers  Shipping costs Supplier name Location  \
0                 96         Carrier B        2.956572    Supplier 3   Mumbai
1                 37         Carrier A        9.716575    Supplier 3   Mumbai
2                 88         Carrier B        8.054479    Supplier 1   Mumbai
8                 15         Carrier C        3.404734    Supplier 4   Mumbai
27                62         Carrier C        7.406751    Supplier 5   Mumbai
28                24         Carrier B        9.898141    Supplier 1   Mumbai
38                88         Carrier B        9.235931    Supplier 5   Mumbai
43                85         Carrier B        3.694021    Supplier 5   Mumbai
48                 9         Carrier C        7.095833    Supplier 2   Mumbai
52                11         Carrier B        8.631052    Supplier 1   Mumbai
56                83         Carrier C        1.774430    Supplier 1   Mumbai
60                72         Carrier C        4.381368    Supplier 4   Mumbai
62                40         Carrier C        7.291701    Supplier 2   Mumbai
67                71         Carrier C        9.147812    Supplier 1   Mumbai
78                51         Carrier B        8.467050    Supplier 5   Mumbai
82                72         Carrier A        4.708182    Supplier 2   Mumbai
86                22         Carrier B        1.454305    Supplier 1   Mumbai
88                85         Carrier A        3.801253    Supplier 2   Mumbai
92                10         Carrier B        4.469500    Supplier 2   Mumbai
95                26         Carrier B        8.630339    Supplier 4   Mumbai
96                32         Carrier C        5.352878    Supplier 3   Mumbai
97                 4         Carrier A        7.904846    Supplier 4   Mumbai

    Manufacturing costs Transportation modes
0             46.279879                 Road
1             33.616769                 Road
2             30.688019                  Air
8             11.423027                  Sea
27            10.528245                  Sea
28            59.429382                  Air
38             5.930694                  Air
43            26.277366                  Air
48            23.126364                 Rail
52             9.166849                  Air
56            12.836285                  Air

In [18]:
var2 = df.groupby("Price")

In [19]:
var2.min()

,Product type,Number of products sold,Revenue generated,Order quantities,Shipping carriers,Shipping costs,Supplier name,Location,Manufacturing costs,Transportation modes
Price,,,,,,,,,,
1.699976,Haircare3,147,2828.348746,66,Carrier B,4.444099,Supplier 4,Bangalore,56.766476,Road
2.397275,cosmetics,394,6117.324615,24,Carrier B,9.898141,Supplier 1,Mumbai,59.429382,Air
3.037689,cosmetics4,987,7888.356547,72,Carrier B,6.942946,Supplier 2,Delhi,60.387379,Rail
3.170011,haircare,904,5709.945296,1,Carrier A,5.237655,Supplier 4,Delhi,80.580852,Rail
3.526111,haircare1,62,4370.916580,4,Carrier A,7.904846,Supplier 4,Mumbai,65.765156,Road
...,...,...,...,...,...,...,...,...,...,...
97.446947,haircare,353,3716.493326,48,Carrier B,6.507549,Supplier 2,Bangalore,15.972230,Rail
97.760086,Cosmetics2,134,5924.682567,27,Carrier B,9.929816,Supplier 1,Kolkata,46.603873,Rail
98.031830,skincare,820,9435.762609,11,Carrier B,8.631052,Supplier 1,Mumbai,9.166849,Air
99.113292,skincare,556,5521.205259,38,Carrier B,5.773264,Supplier 4,Chennai,95.332065,Sea
99.171329,skincare,562,8653.570926,78,Carrier B,2.039770,Supplier 1,Kolkata,5.791437,Air

In [21]:
var2.mean()

<ipython-input-21-80b12959ab4f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  var2.mean()

,Number of products sold,Revenue generated,Order quantities,Shipping costs,Manufacturing costs
Price,,,,,
1.699976,147.0,2828.348746,66.0,4.444099,56.766476
2.397275,394.0,6117.324615,24.0,9.898141,59.429382
3.037689,987.0,7888.356547,72.0,6.942946,60.387379
3.170011,904.0,5709.945296,1.0,5.237655,80.580852
3.526111,62.0,4370.916580,4.0,7.904846,65.765156
...,...,...,...,...,...
97.446947,353.0,3716.493326,48.0,6.507549,15.972230
97.760086,134.0,5924.682567,27.0,9.929816,46.603873
98.031830,820.0,9435.762609,11.0,8.631052,9.166849
99.113292,556.0,5521.205259,38.0,5.773264,95.332065
99.171329,562.0,8653.570926,78.0,2.039770,5.791437

In [70]:
import pandas as pd
df = pd.read_csv("Sampledata.csv")

var3 = df.loc[:, ["Product type", "Price", "Revenue generated", "Order quantities"]]
var4 = var3.groupby("Product type")

In [71]:
var4.max()

                  Price  Revenue generated  Order quantities
Product type
Cosmetics1    75.270407        9444.742033                85
Cosmetics2    97.760086        7517.363211                27
Cosmetics3    62.111965        1935.206794                85
Cosmetics4    47.714233        2100.129755                10
Haircare1     69.808006        8661.996792                96
Haircare2     11.319683        9577.749626                88
Haircare3      1.699976        2828.348746                66
Haircare4     71.213389        2873.741446                85
Haircare5     77.903927        7386.363944                26
Skincare1     14.843523        9592.633570                96
Skincare2     61.163343        8525.952560                59
Skincare3      4.805496        2686.505152                56
Skincare4     64.015733        7823.476560                83
Skincare5     15.707796        2330.965802                80
Skincare6     90.635460        6099.944116                60
Skincare7     16.160393        4052.738416                48
cosmetics     92.557361        9692.318040                95
cosmetics4     3.037689        7888.356547                72
cosmetics6    24.423131        7698.424766                32
haircare      97.446947        9866.465458                85
haircare1      3.526111        4370.916580                 4
haircare3     69.290831        9185.185829                66
skincare      99.171329        9655.135103                94

In [72]:
for x,y in grouped_var3:
    print(x)
    print(y)
    print()

1.699976014
  Product type     Price  Revenue generated  Order quantities
5    Haircare3  1.699976        2828.348746                66

2.397274706
   Product type     Price  Revenue generated  Order quantities
28    cosmetics  2.397275        6117.324615                24

3.037688725
   Product type     Price  Revenue generated  Order quantities
94   cosmetics4  3.037689        7888.356547                72

3.170011414
   Product type     Price  Revenue generated  Order quantities
74     haircare  3.170011        5709.945296                 1

3.526111259
   Product type     Price  Revenue generated  Order quantities
97    haircare1  3.526111         4370.91658                 4

4.078332863
  Product type     Price  Revenue generated  Order quantities
6    Skincare4  4.078333         7823.47656                58

4.156308359
   Product type     Price  Revenue generated  Order quantities
24     haircare  4.156308        9049.077861                 2

4.324341186
   Product type     Price  Revenue generated  Order quantities
23    cosmetics  4.324341        8858.367571                29

4.805496036
  Product type     Price  Revenue generated  Order quantities
4    Skincare3  4.805496        2686.505152                56

6.306883176
   Product type     Price  Revenue generated  Order quantities
78     haircare  6.306883        1292.458418                51

6.381533163
   Product type     Price  Revenue generated  Order quantities
71    cosmetics  6.381533        8180.337085                26

7.54717211
   Product type     Price  Revenue generated  Order quantities
16     skincare  7.547172        6453.797968                78

8.022859211
   Product type     Price  Revenue generated  Order quantities
30     haircare  8.022859        2766.342367                35

9.813002579
   Product type     Price  Revenue generated  Order quantities
36     skincare  9.813003        7573.402458                28

11.31968329
  Product type      Price  Revenue generated  Order quantities
2    Haircare2  11.319683        9577.749626                88

11.74327178
   Product type      Price  Revenue generated  Order quantities
43     haircare  11.743272        5737.425599                85

13.01737679
   Product type      Price  Revenue generated  Order quantities
63     skincare  13.017377        4256.949141                10

13.8819135
   Product type      Price  Revenue generated  Order quantities
90    Skincare1  13.881913         9592.63357                96

14.20348426
   Product type      Price  Revenue generated  Order quantities
50    cosmetics  14.203484         5910.88539                82

14.84352328
  Product type      Price  Revenue generated  Order quantities
1    Skincare1  14.843523        7460.900065                37

15.70779568
   Product type      Price  Revenue generated  Order quantities
10    Skincare5  15.707796        2330.965802                80

16.16039332
   Product type      Price  Revenue generated  Order quantities
13    Skincare7  16.160393        4052.738416                48

17.02802792
   Product type      Price  Revenue generated  Order quantities
60     skincare  17.028028         8864.08435                72

17.03493074
   Product type      Price  Revenue generated  Order quantities
82     skincare  17.034931        2943.381868                72

19.12747727
   Product type      Price  Revenue generated  Order quantities
39     skincare  19.127477        1912.465663                34

19.75460487
   Product type      Price  Revenue generated  Order quantities
98    Skincare2  19.754605         8525.95256                27

19.99817694
   Product type      Price  Revenue generated  Order quantities
86     skincare  19.998177        1229.591029                22

20.98638604
   Product type      Price  Revenue generated  Order quantities
56     skincare  20.986386        4767.020484                83

23.39984475
   Product type      Price  Revenue generated  Order quantities
37     skincare  23.399845         2438.33993                21

24.42313142
   Product type      Price  Revenue generated  Order quantities
96   cosmetics6  24.423131        7698.424766                32

26.03486977
   Product type     Price  Revenue generated  Order quantities
66     skincare  26.03487        8367.721618                19

26.70076097
   Product type      Price  Revenue generated  Order quantities
51     haircare  26.700761        9866.465458                52

27.0822072
   Product type      Price  Revenue generated  Order quantities
46     haircare  27.082207        2556.767361                 6

27.67978089
   Product type      Price  Revenue generated  Order quantities
22     haircare  27.679781        2390.807867                63

30.34147071
   Product type      Price  Revenue generated  Order quantities
53     skincare  30.341471        8232.334829                54

31.14624316
   Product type      Price  Revenue generated  Order quantities
54     haircare  31.146243         6088.02148                61

33.69771721
   Product type      Price  Revenue generated  Order quantities
65     skincare  33.697717        8354.579686                54

33.78413803
   Product type      Price  Revenue generated  Order quantities
45     haircare  33.784138        5267.956808                52

36.44362777
   Product type      Price  Revenue generated  Order quantities
18     haircare  36.443628        9364.673505                46

36.98924493
   Product type      Price  Revenue generated  Order quantities
15     skincare  36.989245        5442.086785                69

37.46759233
   Product type      Price  Revenue generated  Order quantities
34     skincare  37.467592        9061.710896                21

37.93181238
   Product type      Price  Revenue generated  Order quantities
68     haircare  37.931812        3550.218433                58

39.62934399
   Product type      Price  Revenue generated  Order quantities
25     haircare  39.629344        2174.777054                52

42.95838438
  Product type      Price  Revenue generated  Order quantities
7   Cosmetics1  42.958384        8496.103813                11

46.52916761
   Product type      Price  Revenue generated  Order quantities
42     skincare  46.529168        1839.609426                57

47.71423308
   Product type      Price  Revenue generated  Order quantities
92   Cosmetics4  47.714233        2100.129755                10

47.91454182
   Product type      Price  Revenue generated  Order quantities
70     haircare  47.914542        7014.887987                22

49.26320535
   Product type      Price  Revenue generated  Order quantities
57     haircare  49.263205          1605.8669                51

50.84739305
   Product type      Price  Revenue generated  Order quantities
31     skincare  50.847393        9655.135103                44

51.12387009
   Product type     Price  Revenue generated  Order quantities
19     skincare  51.12387        2553.495585                94

51.35579091
   Product type      Price  Revenue generated  Order quantities
44    cosmetics  51.355791        7152.286049                72

52.0287499
   Product type     Price  Revenue generated  Order quantities
61     haircare  52.02875        6885.589351                36

52.07593068
   Product type      Price  Revenue generated  Order quantities
38    cosmetics  52.075931         9692.31804                88

54.86552852
   Product type      Price  Revenue generated  Order quantities
69     skincare  54.865529        1752.381087                27

57.05703122
   Product type      Price  Revenue generated  Order quantities
79     haircare  57.057031        7888.723268                20

57.44974296
   Product type      Price  Revenue generated  Order quantities
77     haircare  57.449743        2483.760178                57

59.84156138
   Product type      Price  Revenue generated  Order quantities
58     skincare  59.841561         2021.14981                44

61.16334302
  Product type      Price  Revenue generated  Order quantities
3    Skincare2  61.163343        7766.836426                59

62.11196546
   Product type      Price  Revenue generated  Order quantities
91   Cosmetics3  62.111965        1935.206794                85

63.44755919
   Product type      Price  Revenue generated  Order quantities
29    cosmetics  63.447559        8318.903195                67

63.82839835
   Product type      Price  Revenue generated  Order quantities
59    cosmetics  63.828398        1061.618523                26

64.01573294
  Product type      Price  Revenue generated  Order quantities
9    Skincare4  64.015733        4971.145988                83

64.795435
   Product type      Price  Revenue generated  Order quantities
33    cosmetics  64.795435         5149.99835                95

68.5178327
   Product type      Price  Revenue generated  Order quantities
99    haircare3  68.517833        9185.185829                59

68.71759675
  Product type      Price  Revenue generated  Order quantities
8   Cosmetics2  68.717597        7517.363211                15

68.91124621
   Product type      Price  Revenue generated  Order quantities
83     haircare  68.911246        2411.754632                 7

69.10879955
   Product type    Price  Revenue generated  Order quantities
76     haircare  69.1088        5328.375984                22

69.290831
   Product type      Price  Revenue generated  Order quantities
93    haircare3  69.290831        4531.402134                66

69.80800554
  Product type      Price  Revenue generated  Order quantities
0    Haircare1  69.808006        8661.996792                96

71.21338908
   Product type      Price  Revenue generated  Order quantities
12    Haircare4  71.213389        2873.741446                85

72.79635396
   Product type      Price  Revenue generated  Order quantities
62    cosmetics  72.796354        3899.746834                40

72.81920693
   Product type      Price  Revenue generated  Order quantities
81     haircare  72.819207          4384.4134                 8

75.27040698
   Product type      Price  Revenue generated  Order quantities
88   Cosmetics1  75.270407        9444.742033                85

76.03554443
   Product type      Price  Revenue generated  Order quantities
48     haircare  76.035544        7397.071005                 9

76.96299442
   Product type      Price  Revenue generated  Order quantities
85    cosmetics  76.962994        8684.613059                66

77.90392722
   Product type      Price  Revenue generated  Order quantities
95    Haircare5  77.903927        7386.363944                26

78.89791321
   Product type      Price  Revenue generated  Order quantities
49    cosmetics  78.897913        8001.613207                 9

79.20993602
   Product type      Price  Revenue generated  Order quantities
32     skincare  79.209936        9571.550487                64

79.85505834
   Product type      Price  Revenue generated  Order quantities
55     haircare  79.855058         2925.67517                11

80.41403665
   Product type      Price  Revenue generated  Order quantities
87     haircare  80.414037        5133.846701                55

80.54142417
   Product type      Price  Revenue generated  Order quantities
40     skincare  80.541424         5724.95935                39

81.46253437
   Product type      Price  Revenue generated  Order quantities
17    cosmetics  81.462534        2629.396435                85

83.85101768
   Product type      Price  Revenue generated  Order quantities
73    cosmetics  83.851018        7910.886916                66

84.89386898
   Product type      Price  Revenue generated  Order quantities
21    cosmetics  84.893869        7087.052696                 7

84.95778682
   Product type      Price  Revenue generated  Order quantities
35    cosmetics  84.957787        6541.329345                85

87.75543235
   Product type      Price  Revenue generated  Order quantities
67     skincare  87.755432        9473.798033                71

89.10436729
   Product type      Price  Revenue generated  Order quantities
84     haircare  89.104367          2048.2901                80

89.63409561
   Product type      Price  Revenue generated  Order quantities
64     skincare  89.634096        8458.730878                75

90.20442752
   Product type      Price  Revenue generated  Order quantities
72    cosmetics  90.204428        2633.121981                77

90.63545998
   Product type     Price  Revenue generated  Order quantities
11    Skincare6  90.63546        6099.944116                60

91.12831835
   Product type      Price  Revenue generated  Order quantities
80     skincare  91.128318        8651.672683                41

92.55736081
   Product type      Price  Revenue generated  Order quantities
27    cosmetics  92.557361        2686.457224                62

92.99688423
   Product type      Price  Revenue generated  Order quantities
75     skincare  92.996884         1889.07359                56

95.71213588
   Product type      Price  Revenue generated  Order quantities
47     skincare  95.712136         7089.47425                51

96.34107244
   Product type      Price  Revenue generated  Order quantities
20     skincare  96.341072        8128.027697                68

97.44694662
   Product type      Price  Revenue generated  Order quantities
26     haircare  97.446947        3716.493326                48

97.76008558
   Product type      Price  Revenue generated  Order quantities
89   Cosmetics2  97.760086        5924.682567                27

98.03182966
   Product type     Price  Revenue generated  Order quantities
52     skincare  98.03183        9435.762609                11

99.11329162
   Product type      Price  Revenue generated  Order quantities
41     skincare  99.113292        5521.205259                38

99.17132864
   Product type      Price  Revenue generated  Order quantities
14     skincare  99.171329        8653.570926                78